<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator (POST request)</title>
</head>
<body>
    <form action="/post" method="post">
        <p> 인자 1 : <input type="number" id="input1" name="input1"> </p>
        <p> 연산자 : <input type="text" id="operator" name="operator"> </p>
        <p> 인자 2 : <input type="number" id="input2" name="input2"> </p>
        <p> 인자와 연산자를 입력하고 제출 버튼을 누르세요. <input type="submit" value="제출" onclick="alert('제출 완료!')" /></p>
    </form>
</body>
</html>